@model AppCapacitacion.Models.Evaluacion

@{
    ViewData["Title"] = "Detalles de Evaluación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles de Evaluación</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-3">Empleado</dt>
        <dd class="col-sm-9">@Model.Empleado?.Nombre</dd>

        <dt class="col-sm-3">Capacitación</dt>
        <dd class="col-sm-9">@Model.Capacitacion?.Nombre</dd>

        <dt class="col-sm-3">Calificación</dt>
        <dd class="col-sm-9">@Model.Calificacion</dd>

        <dt class="col-sm-3">Comentario</dt>
        <dd class="col-sm-9">@Model.Comentario</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>
